<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd">
        <!-- 整合Mybatis过程-->

        <!-- 1:配置数据库相关的参数property
        <context:property-placeholder location="classpath:jdbc.properties"/>
        -->
        <!-- 2:配置数据库连接池-->
        <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
            <!-- c3p0数据库连接池之基本属性-->
            <property name="driverClass" value="com.mysql.jdbc.Driver"/>
            <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/seckill?useUnicode=true&amp;characterEncoding=utf-8"/>
            <property name="user" value="root"/>
            <property name="password" value="123456"/>
            <!-- c3p0数据库连接池之私有属性-->
            <property name="maxPoolSize" value="30"/>
            <property name="minPoolSize" value="10"/>
            <property name="autoCommitOnClose" value="false"/>  <!-- 关闭连接后不自动Commit-->
            <property name="checkoutTimeout" value="1000"/>     <!-- 获取连接超时时间-->
            <property name="acquireRetryAttempts" value="2"/>   <!-- 当获取连接失败重试次数-->
        </bean>

        <!-- 约定大于配置 -->
        <!-- 3:配置SqlSessionFactory对象-->
        <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
            <!-- 注入数据库连接池 -->
            <property name="dataSource" ref = "dataSource" />
            <!-- 配置Mybatis的全局配置文件:mybatis-config.xml -->
            <property name="configLocation" value="classpath:mybatis-config.xml"/>
            <!-- 扫描entity包，使用别名org.seckill.entity.Seckill -->
            <property name="typeAliasesPackage" value="org.seckill.entity"/>
            <!-- 扫描sql配置文件:Mapper需要的xml文件 -->
            <property name="mapperLocations" value="classpath:mapper/*.xml"/>
        </bean>

        <!-- 4:配置扫描Dao接口包，动态实现Dao接口，注入到spring容器中-->
        <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer" >
            <!-- 注入sqlSessionFactory ,防止提前初始化sqlSessionFactory,所以用sqlSessionFactoryBeanName-->
            <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
            <!-- 给出需要扫描Dao接口的包 -->
            <property name="basePackage" value="org.seckill.dao"/>
        </bean>
    </beans>